body {
  padding: 10px;
  font-family: sans-serif;
}

.ui.primary.button {

  background-color: #229396;
}

<<<<<<< HEAD
.categorieSearch{
  color: inverted;
}
=======


>>>>>>> 7a976683ca5099cc038fc9785a47ff11d24f1435
.ui.primary.button:hover{
  background-color: #BFBFBF;
}

#mosaicScramble{

  width: 90%;
 

}

.PhotoGrid__imageGridItem___hFxCm{
  width: 90%;
  height: 60%;
  
<<<<<<< HEAD
}

.checkboxes{
  color:white;
=======
>>>>>>> 7a976683ca5099cc038fc9785a47ff11d24f1435
}