body {
  padding: 10px;
  font-family: sans-serif;
}

.ui.primary.button {

  background-color: #229396;
}



.ui.primary.button:hover{
  background-color: #BFBFBF;
}

#mosaicScramble{

  width: 90%;
 

}

.PhotoGrid__imageGridItem___hFxCm{
  width: 90%;
  height: 60%;
  
}